@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: -35px;
  background-color: #263238;
  border-radius: 15px;
  height: 120px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  z-index: 20000;
}

@media screen and (max-width: 992px) {
  .sticky {
    height: 100px;
  }
}

.sticky .header__navbar-menu {
  color: #ffffff;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.sticky .header__navbar-letstalk {
  color: #263238;
  background-color: #ffffff;
  display: inline-block;
  border: 2px solid #263238;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.sticky .header__navbar-letstalk:hover {
  color: #263238;
  border-width: 2px;
  border-color: #263238;
  border-radius: 5px;
  background-color: #ffffff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.sticky .header__navbar-logo {
  color: white;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.sticky .header__navbar-links {
  color: white;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.header__navbar {
  -webkit-transition: 5s;
  transition: 5s;
  border-radius: 15px;
}

.header__navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 55px;
}

.header__navbar-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 72%;
          flex: 0 1 72%;
  font-size: 20px;
  font-weight: 500;
  color: #263238;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 20px;
}

@media screen and (max-width: 992px) {
  .header__navbar-menu {
    display: none;
  }
}

@media screen and (max-width: 1600px) {
  .header__navbar-menu {
    font-size: 16px;
  }
}

.header__navbar-toggle {
  opacity: 0;
}

.header__navbar-burger input {
  display: block;
  width: 30px;
  height: 25px;
  position: absolute;
  opacity: 0;
}

.header__navbar-burger input:checked ~ span:nth-of-type(1) {
  -webkit-transform: translate(7px, 1px) rotate(45deg);
          transform: translate(7px, 1px) rotate(45deg);
}

.header__navbar-burger input:checked ~ span:nth-of-type(2) {
  -webkit-transform: translate(7px, 13px) rotate(-45deg);
          transform: translate(7px, 13px) rotate(-45deg);
}

.header__navbar-burger input:checked ~ span:nth-of-type(3) {
  opacity: 0;
  -webkit-transform: translate(6px, 0) rotate(-45deg);
          transform: translate(6px, 0) rotate(-45deg);
}

.header__navbar-burger span {
  display: block;
  background-color: #39515E;
  width: 30px;
  height: 3px;
  position: relative;
  margin-bottom: 5px;
  -webkit-transform-origin: 4px 0;
          transform-origin: 4px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 3px;
  cursor: pointer;
  z-index: -1;
}

.header__navbar-burger span:nth-of-type(1) {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.header__navbar-burger span:nth-of-type(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.header__navbar-burger span:nth-of-type(3) {
  width: 22px;
}

@media screen and (min-width: 992px) {
  .header__navbar-burger {
    display: none;
  }
}

.header__navbar-links {
  position: relative;
  cursor: pointer;
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.header__navbar-letstalk {
  padding: 17px 57px;
  font-size: 24px;
}

@media screen and (max-width: 1600px) {
  .header__navbar-letstalk {
    font-size: 18px;
  }
}

.header__navbar-logo {
  font-family: poppins;
  font-size: 36px;
}

.header__navbar-logo__right {
  color: grey;
}

@media screen and (max-width: 1600px) {
  .header__navbar-logo {
    font-size: 30px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: poppins , sans-serif;
  margin: 0;
  padding: 0;
}

._container {
  max-width: 1348px;
  margin: auto;
}

@media screen and (max-width: 1600px) {
  ._container {
    max-width: 947px;
  }
}

@media screen and (max-width: 992px) {
  ._container {
    max-width: 708px;
  }
}

@media screen and (max-width: 767px) {
  ._container {
    max-width: 512px;
  }
}

@media screen and (max-width: 575px) {
  ._container {
    max-width: 291px;
  }
}

.button-light {
  display: inline-block;
  border: 2px solid #263238;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.button-light:hover {
  border-width: 2px;
  border-color: #263238;
  border-radius: 5px;
  background-color: #263238;
  color: white;
}

.button-dark {
  color: white;
  background-color: #263238;
  display: inline-block;
  border: 2px solid #263238;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.button-dark:hover {
  color: #263238;
  border-width: 2px;
  border-color: #263238;
  border-radius: 5px;
  background-color: #ffffff;
}

.hero {
  margin-top: 6%;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 767px) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 1600px) {
  .hero__image {
    max-width: 460px;
  }
}

@media screen and (max-width: 992px) {
  .hero__image {
    max-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .hero__image {
    max-width: 90%;
  }
}

.hero__welcome {
  width: 100%;
}

.hero__content {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero__titlelamp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__lamp {
  width: 100%;
  padding-top: 30%;
}

@media screen and (max-width: 1600px) {
  .hero__lamp {
    width: 20%;
  }
}

@media screen and (max-width: 767px) {
  .hero__lamp {
    display: none;
  }
}

.hero__title {
  padding-top: 50px;
  padding-bottom: 25px;
  margin: 0;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  text-align: left;
}

@media screen and (max-width: 1600px) {
  .hero__title {
    font-size: 48px;
    line-height: 64px;
  }
}

@media screen and (max-width: 992px) {
  .hero__title {
    font-size: 36px;
    line-height: 45px;
  }
}

@media screen and (max-width: 575px) {
  .hero__title {
    text-align: center;
  }
}

.hero__title span {
  display: block;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .hero__title span {
    display: inline;
    font-size: 34px;
  }
}

.hero__text {
  font-size: 24px;
  color: #8F95A5;
  padding-bottom: 61px;
  max-width: 450px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 450px;
          flex: 0 1 450px;
  line-height: 36px;
  text-align: left;
}

@media screen and (max-width: 1600px) {
  .hero__text {
    padding-bottom: 33px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 992px) {
  .hero__text {
    font-size: 16px;
    line-height: 24px;
    max-width: 333px;
  }
}

@media screen and (max-width: 767px) {
  .hero__text {
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
  }
}

.hero__getstarted {
  padding: 32px 116px;
  font-size: 36px;
  font-weight: 400;
  line-height: 54px;
}

@media screen and (max-width: 1600px) {
  .hero__getstarted {
    font-size: 24px;
    line-height: 36px;
    padding: 20px 77px;
  }
}

@media screen and (max-width: 992px) {
  .hero__getstarted {
    font-size: 18px;
    line-height: 27px;
    padding: 19px 67px;
  }
}

@media screen and (max-width: 767px) {
  .hero__getstarted {
    padding: 24px 100px;
  }
}

.wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills {
  margin-top: 5%;
}

.skills__title {
  text-align: center;
  font-size: 48px;
  line-height: 80px;
}

@media screen and (max-width: 1600px) {
  .skills__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 992px) {
  .skills__title {
    font-size: 30px;
  }
}

.skills__grid {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'a b c' 'a d d';
  gap: 18px;
}

@media screen and (max-width: 1600px) {
  .skills__grid {
    gap: 13px;
    padding-top: 58px;
  }
}

@media screen and (max-width: 992px) {
  .skills__grid {
    gap: 10px;
    padding-top: 37px;
  }
}

@media screen and (max-width: 767px) {
  .skills__grid {
    gap: 30px;
        grid-template-areas: 'a b ' 'c d';
  }
}

@media screen and (max-width: 575px) {
  .skills__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.skills__item-speaking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: a;
}

.skills__item-speaking > img {
  width: 360px;
  height: 360px;
}

@media screen and (max-width: 1600px) {
  .skills__item-speaking > img {
    width: 290px;
    height: 290px;
  }
}

@media screen and (max-width: 992px) {
  .skills__item-speaking > img {
    width: 214px;
    height: 214px;
  }
}

@media screen and (max-width: 767px) {
  .skills__item-speaking > img {
    width: 185px;
    height: 185px;
  }
}

.skills__item-writing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: b;
}

.skills__item-writing > img {
  width: 293px;
  height: 293px;
}

@media screen and (max-width: 1600px) {
  .skills__item-writing > img {
    width: 205px;
    height: 205px;
  }
}

@media screen and (max-width: 992px) {
  .skills__item-writing > img {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 767px) {
  .skills__item-writing > img {
    width: 182px;
    height: 182px;
  }
}

.skills__item-reading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: c;
}

.skills__item-reading > img {
  width: 371px;
  height: 247px;
  margin-bottom: 46px;
}

@media screen and (max-width: 1600px) {
  .skills__item-reading > img {
    width: 243px;
    height: 162px;
    margin-bottom: 43px;
  }
}

@media screen and (max-width: 992px) {
  .skills__item-reading > img {
    width: 216px;
    height: 144px;
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .skills__item-reading > img {
    margin: 0;
    width: 198px;
    height: 132px;
  }
}

.skills__item-listening {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: d;
}

@media screen and (max-width: 767px) {
  .skills__item-listening {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.skills__item-listening > img {
  float: right;
  width: 382px;
  height: 255px;
}

@media screen and (max-width: 1600px) {
  .skills__item-listening > img {
    width: 254px;
    height: 169px;
  }
}

@media screen and (max-width: 992px) {
  .skills__item-listening > img {
    width: 202px;
    height: 134px;
  }
}

@media screen and (max-width: 767px) {
  .skills__item-listening > img {
    width: 206px;
    height: 137px;
  }
}

.skill {
  position: relative;
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 38px;
  min-width: 302px;
}

@media screen and (max-width: 1600px) {
  .skill {
    min-width: 227px;
    padding: 28px;
  }
}

@media screen and (max-width: 992px) {
  .skill {
    min-width: 220px;
    padding: 10px;
  }
}

@media screen and (max-width: 767px) {
  .skill {
    min-width: 240px;
    min-height: 534px;
  }
}

.skill__content {
  margin-bottom: auto;
}

.skill__title {
  font-size: 30px;
  line-height: 80px;
}

@media screen and (max-width: 1600px) {
  .skill__title {
    font-size: 22px;
  }
}

@media screen and (max-width: 992px) {
  .skill__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .skill__title {
    font-size: 18px;
  }
}

.skill__text {
  font-size: 16px;
  line-height: 24px;
  color: #8F95A5;
  padding-bottom: 25px;
}

@media screen and (max-width: 1600px) {
  .skill__text {
    font-size: 14px;
    line-height: 21px;
  }
}

@media screen and (max-width: 992px) {
  .skill__text {
    font-size: 13px;
    line-height: 19.5px;
  }
}

@media screen and (max-width: 767px) {
  .skill__text {
    font-size: 12px;
    line-height: 18px;
  }
}

.skill__learnmore {
  padding: 15px 50px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-bottom: 20px;
}

@media screen and (max-width: 1600px) {
  .skill__learnmore {
    font-size: 18px;
    line-height: 27px;
    padding: 13px 40px;
  }
}

@media screen and (max-width: 992px) {
  .skill__learnmore {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 767px) {
  .skill__learnmore {
    font-size: 14px;
    line-height: 21px;
    padding: 14px 54px;
  }
}

.about {
  margin-top: 5%;
}

.about__content {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'a d d' 'b d d' 'c d d';
}

@media screen and (max-width: 767px) {
  .about__content {
        grid-template-areas: 'a' 'd' 'b' 'c';
    text-align: center;
  }
}

.about__title {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: a;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
}

@media screen and (max-width: 1600px) {
  .about__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 992px) {
  .about__title {
    font-size: 30px;
  }
}

.about__text {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: b;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8F95A5;
}

@media screen and (max-width: 1600px) {
  .about__text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 992px) {
  .about__text {
    font-size: 14px;
    line-height: 21px;
  }
}

.about__stats {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__amount {
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  color: #2A3246;
  margin-bottom: -5px;
}

@media screen and (max-width: 1600px) {
  .about__amount {
    font-size: 30px;
  }
}

@media screen and (max-width: 992px) {
  .about__amount {
    font-size: 22px;
    line-height: 80px;
  }
}

.about__name {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8F95A5;
}

@media screen and (max-width: 1600px) {
  .about__name {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 992px) {
  .about__name {
    font-size: 13px;
    line-height: 20px;
  }
}

.about__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: d;
  margin-left: 194px;
}

@media screen and (max-width: 767px) {
  .about__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.about__dollar {
  max-width: 100%;
}

.pricing {
  margin-top: 10%;
}

.pricing__title {
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
}

@media screen and (max-width: 1600px) {
  .pricing__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 992px) {
  .pricing__title {
    font-size: 30px;
  }
}

.pricing__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 582px;
}

@media screen and (max-width: 767px) {
  .pricing__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.price {
  width: 100%;
  position: relative;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .price {
    padding: 35px 0;
  }
}

.price__text-info {
  position: absolute;
  top: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1600px) {
  .price__text-info {
    height: 36%;
    top: 55%;
  }
}

@media screen and (max-width: 992px) {
  .price__text-info {
    top: 45%;
  }
}

@media screen and (max-width: 767px) {
  .price__text-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: 0;
    margin-top: 15px;
  }
}

.price__image {
  text-align: center;
}

.price__selfimg {
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .price__selfimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.price__namecourse {
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  color: #263238;
}

@media screen and (max-width: 1600px) {
  .price__namecourse {
    font-size: 22px;
    line-height: 34px;
  }
}

@media screen and (max-width: 992px) {
  .price__namecourse {
    font-size: 20px;
    line-height: 28px;
  }
}

@media screen and (max-width: 767px) {
  .price__namecourse {
    font-size: 24px;
  }
}

.price__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8F95A5;
}

@media screen and (max-width: 1600px) {
  .price__text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 992px) {
  .price__text {
    font-size: 14px;
    line-height: 21px;
  }
}

@media screen and (max-width: 767px) {
  .price__text {
    margin-top: 20px;
  }
}

.price__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #EEEEEE;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 5%;
}

@media screen and (max-width: 992px) {
  .price__cost {
    padding: 5px 5%;
  }
}

@media screen and (max-width: 767px) {
  .price__cost {
    margin-top: 30px;
  }
}

.price__cost-left {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #263238;
}

@media screen and (max-width: 1600px) {
  .price__cost-left {
    font-size: 24px;
    line-height: 36px;
  }
}

@media screen and (max-width: 992px) {
  .price__cost-left {
    font-size: 22px;
    line-height: 33px;
  }
}

.price__cost-right {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #546269;
  margin-left: 5px;
}

@media screen and (max-width: 1600px) {
  .price__cost-right {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 992px) {
  .price__cost-right {
    font-size: 16px;
    line-height: 24px;
  }
}

.contact-us {
  margin-top: 15%;
}

@media screen and (max-width: 767px) {
  .contact-us__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
}

.contact-us__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: d;
}

.contact-us__content {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'd d a' 'd d b' 'd d c';
}

@media screen and (max-width: 767px) {
  .contact-us__content {
        grid-template-areas: 'a' 'd' 'b' 'c';
    text-align: center;
  }
}

.contact-us__send-message {
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .contact-us__send-message {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact-us__title {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: a;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  margin: 0;
}

@media screen and (max-width: 1600px) {
  .contact-us__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 992px) {
  .contact-us__title {
    font-size: 30px;
  }
}

.contact-us__text {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: b;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8F95A5;
}

@media screen and (max-width: 1600px) {
  .contact-us__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  .contact-us__text {
    font-size: 14px;
    line-height: 21px;
  }
}

.contact-us__contact-form {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 52px;
}

.contact-us__form {
  margin-right: 1%;
  width: 450px;
  height: 80px;
  border: 1px solid #8F95A5;
  border-radius: 10px;
}

@media screen and (max-width: 1600px) {
  .contact-us__form {
    width: 323px;
    height: 60px;
  }
}

@media screen and (max-width: 992px) {
  .contact-us__form {
    width: 283px;
    height: 50px;
    border-radius: 5px;
  }
}

.contact-us__subscribe {
  padding: 23px 80px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

@media screen and (max-width: 1600px) {
  .contact-us__subscribe {
    padding: 13px 56px;
  }
}

@media screen and (max-width: 992px) {
  .contact-us__subscribe {
    padding: 9px 40px;
  }
}

.footer {
  margin-top: 10%;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 45px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1600px) {
  .footer__content {
    margin: 25px 0px;
  }
}

@media screen and (max-width: 992px) {
  .footer__content {
    margin: 20px 0px;
  }
}

.footer__line {
  border-top: 1px solid #C4C4C4;
  width: 100%;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo {
  font-family: poppins;
  font-size: 36px;
}

@media screen and (max-width: 1600px) {
  .footer-logo {
    font-size: 30px;
  }
}

@media screen and (max-width: 992px) {
  .footer-logo {
    font-size: 30px;
    line-height: 45px;
  }
}

.footer-logo__right {
  color: grey;
}

.footer__links {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin-right: 5px;
  color: #8F95A5;
}

@media screen and (max-width: 1600px) {
  .footer__links {
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  .footer__links {
    font-size: 13px;
    line-height: 20px;
  }
}

.footer__links:last-child {
  margin-right: 0;
}
/*# sourceMappingURL=style.css.map */