@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: -35px;
  background-color: #263238;
  border-radius: 15px;
  height: 120px;
  transition: 1.2s;
}
@media screen and (max-width: 992px) {
  .sticky {
    height: 100px;
  }
}
.sticky .header__navbar-menu {
  color: #ffffff;
  transition: 1.2s;
}
.sticky .header__navbar-letstalk {
  color: #263238;
  background-color: #ffffff;
  display: inline-block;
  border: 2px solid #263238;
  border-radius: 5px;
  cursor: pointer;
  transition: 1.2s;
}
.sticky .header__navbar-letstalk:hover {
  color: #ffffff;
  border-width: 2px;
  border-color: #263238;
  border-radius: 5px;
  background-color: #263238;
  transition: 1.2s;
}
.sticky .header__navbar-logo {
  color: white;
  transition: 1.2s;
}
.sticky .header__navbar-links {
  color: white;
  transition: 1.2s;
}

.header__navbar {
  transition: 5s;
  border-radius: 15px;
}
.header__navbar-wrap {
  display: flex;
  align-items: center;
  min-height: 70px;
  justify-content: space-between;
  padding-top: 55px;
}
.header__navbar-menu {
  position: relative;
  display: flex;
  flex: 0 1 72%;
  font-size: 20px;
  font-weight: 500;
  font-family: "poppins";
  color: #263238;
  align-items: center;
  justify-content: space-between;
  max-height: 20px;
}
@media screen and (max-width: 992px) {
  .header__navbar-menu {
    display: none;
  }
}
@media screen and (max-width: 1600px) {
  .header__navbar-menu {
    font-size: 16px;
  }
}
.header__navbar-toggle {
  opacity: 0;
}
.header__navbar-burger input {
  display: block;
  width: 30px;
  height: 25px;
  position: absolute;
  opacity: 0;
}
.header__navbar-burger input:checked ~ span:nth-of-type(1) {
  transform: translate(7px, 1px) rotate(45deg);
}
.header__navbar-burger input:checked ~ span:nth-of-type(2) {
  transform: translate(7px, 13px) rotate(-45deg);
}
.header__navbar-burger input:checked ~ span:nth-of-type(3) {
  opacity: 0;
  transform: translate(6px, 0) rotate(-45deg);
}
.header__navbar-burger span {
  display: block;
  background-color: #39515E;
  width: 30px;
  height: 3px;
  position: relative;
  margin-bottom: 5px;
  transform-origin: 4px 0;
  transition: all 0.5s;
  border-radius: 3px;
  cursor: pointer;
  z-index: -1;
}
.header__navbar-burger span:nth-of-type(1) {
  transform-origin: 0% 0%;
}
.header__navbar-burger span:nth-of-type(2) {
  transform-origin: 0% 100%;
}
.header__navbar-burger span:nth-of-type(3) {
  width: 22px;
}
@media screen and (min-width: 992px) {
  .header__navbar-burger {
    display: none;
  }
}
.header__navbar-links {
  position: relative;
  cursor: pointer;
  margin: 0 10px;
  text-decoration: none;
  color: black;
}
.header__navbar-letstalk {
  padding: 17px 57px;
  font-size: 24px;
}
@media screen and (max-width: 1600px) {
  .header__navbar-letstalk {
    font-size: 18px;
  }
}
.header__navbar-logo {
  font-family: poppins;
  font-size: 36px;
}
.header__navbar-logo__right {
  color: grey;
}
@media screen and (max-width: 1600px) {
  .header__navbar-logo {
    font-size: 30px;
  }
}

* {
  box-sizing: border-box;
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
}

._container {
  max-width: 85%;
  margin: auto;
}
@media screen and (max-width: 992px) {
  ._container {
    max-width: 95%;
    margin: auto;
  }
}

.button-light {
  display: inline-block;
  border: 2px solid #263238;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.6s;
}
.button-light:hover {
  border-width: 2px;
  border-color: #263238;
  border-radius: 5px;
  background-color: #263238;
  color: white;
}
.button-dark {
  color: white;
  background-color: #263238;
  display: inline-block;
  border: 2px solid #263238;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.6s;
}
.button-dark:hover {
  color: #263238;
  border-width: 2px;
  border-color: #263238;
  border-radius: 5px;
  background-color: #ffffff;
}

.hero {
  padding-bottom: 96px;
}
.hero__container {
  padding-top: 65px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .hero__container {
    flex-flow: column-reverse;
    align-items: center;
    align-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 1600px) {
  .hero__image {
    max-width: 460px;
  }
}
@media screen and (max-width: 992px) {
  .hero__image {
    max-width: 352px;
  }
}
@media screen and (max-width: 767px) {
  .hero__image {
    max-width: 90%;
  }
}
.hero__welcome {
  width: 100%;
}
.hero__content {
  justify-content: space-around;
}
.hero__titlelamp {
  display: flex;
}
.hero__lamp {
  width: 100%;
  padding-top: 30%;
}
@media screen and (max-width: 1600px) {
  .hero__lamp {
    width: 20%;
  }
}
@media screen and (max-width: 767px) {
  .hero__lamp {
    display: none;
  }
}
.hero__title {
  padding-top: 50px;
  padding-bottom: 25px;
  margin: 0;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  text-align: left;
}
@media screen and (max-width: 1600px) {
  .hero__title {
    font-size: 48px;
    line-height: 64px;
  }
}
@media screen and (max-width: 992px) {
  .hero__title {
    font-size: 36px;
    line-height: 45px;
  }
}
@media screen and (max-width: 575px) {
  .hero__title {
    text-align: center;
  }
}
.hero__title span {
  display: block;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .hero__title span {
    display: inline;
    font-size: 34px;
  }
}
.hero__text {
  font-size: 24px;
  color: #8F95A5;
  padding-bottom: 61px;
  max-width: 450px;
  flex: 0 1 450px;
  line-height: 36px;
  text-align: left;
}
@media screen and (max-width: 1600px) {
  .hero__text {
    padding-bottom: 33px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (max-width: 992px) {
  .hero__text {
    font-size: 16px;
    line-height: 24px;
    max-width: 333px;
  }
}
@media screen and (max-width: 767px) {
  .hero__text {
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
  }
}
.hero__getstarted {
  padding: 32px 116px;
  font-size: 36px;
  font-weight: 400;
  line-height: 54px;
}
@media screen and (max-width: 1600px) {
  .hero__getstarted {
    font-size: 24px;
    line-height: 36px;
    padding: 20px 77px;
  }
}
@media screen and (max-width: 992px) {
  .hero__getstarted {
    font-size: 18px;
    line-height: 27px;
    padding: 19px 67px;
  }
}
@media screen and (max-width: 767px) {
  .hero__getstarted {
    padding: 24px 100px;
  }
}

.wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills__container {
  padding-top: 147px;
}
.skills__title {
  text-align: center;
  font-size: 48px;
  line-height: 80px;
}
@media screen and (max-width: 1600px) {
  .skills__title {
    font-size: 36px;
  }
}
@media screen and (max-width: 992px) {
  .skills__title {
    font-size: 30px;
  }
}
.skills__grid {
  justify-content: center;
  display: grid;
  grid-template-areas: "a b c" "a d d";
}
@media screen and (max-width: 1600px) {
  .skills__grid {
    padding-top: 58px;
  }
}
@media screen and (max-width: 992px) {
  .skills__grid {
    padding-top: 37px;
  }
}
@media screen and (max-width: 767px) {
  .skills__grid {
    grid-template-areas: "a b " "c d";
  }
}
.skills__item-speaking {
  margin: 9px;
  grid-area: a;
}
@media screen and (max-width: 1600px) {
  .skills__item-speaking {
    margin: 6px;
  }
}
@media screen and (max-width: 992px) {
  .skills__item-speaking {
    margin: 5px;
  }
}
.skills__item-speaking > img {
  width: 360px;
  height: 360px;
}
@media screen and (max-width: 1600px) {
  .skills__item-speaking > img {
    width: 290px;
    height: 290px;
  }
}
@media screen and (max-width: 992px) {
  .skills__item-speaking > img {
    width: 214px;
    height: 214px;
  }
}
@media screen and (max-width: 767px) {
  .skills__item-speaking > img {
    width: 185px;
    height: 185px;
  }
}
.skills__item-writing {
  margin: 9px;
  grid-area: b;
}
@media screen and (max-width: 1600px) {
  .skills__item-writing {
    margin: 6px;
  }
}
@media screen and (max-width: 992px) {
  .skills__item-writing {
    margin: 5px;
  }
}
.skills__item-writing > img {
  width: 293px;
  height: 293px;
}
@media screen and (max-width: 1600px) {
  .skills__item-writing > img {
    width: 205px;
    height: 205px;
  }
}
@media screen and (max-width: 992px) {
  .skills__item-writing > img {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .skills__item-writing > img {
    width: 182px;
    height: 182px;
  }
}
.skills__item-reading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 9px;
  grid-area: c;
}
@media screen and (max-width: 1600px) {
  .skills__item-reading {
    margin: 6px;
  }
}
@media screen and (max-width: 992px) {
  .skills__item-reading {
    margin: 5px;
  }
}
.skills__item-reading > img {
  width: 371px;
  height: 247px;
}
@media screen and (max-width: 1600px) {
  .skills__item-reading > img {
    width: 243px;
    height: 162px;
  }
}
@media screen and (max-width: 992px) {
  .skills__item-reading > img {
    width: 216px;
    height: 144px;
  }
}
@media screen and (max-width: 767px) {
  .skills__item-reading > img {
    width: 198px;
    height: 132px;
  }
}
.skills__item-listening {
  margin: 9px;
  grid-area: d;
}
@media screen and (max-width: 1600px) {
  .skills__item-listening {
    margin: 6px;
  }
}
@media screen and (max-width: 992px) {
  .skills__item-listening {
    margin: 5px;
  }
}
.skills__item-listening > img {
  float: right;
  width: 382px;
  height: 255px;
}
@media screen and (max-width: 1600px) {
  .skills__item-listening > img {
    width: 254px;
    height: 169px;
  }
}
@media screen and (max-width: 992px) {
  .skills__item-listening > img {
    width: 202px;
    height: 134px;
  }
}
@media screen and (max-width: 767px) {
  .skills__item-listening > img {
    float: none;
    width: 206px;
    height: 137px;
  }
}

.skill {
  min-width: 435px;
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 38px;
}
@media screen and (max-width: 1600px) {
  .skill {
    padding: 28px;
    min-width: 302px;
  }
}
@media screen and (max-width: 992px) {
  .skill {
    padding: 10px;
    min-width: 227px;
  }
}
.skill__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.skill__title {
  font-size: 30px;
  line-height: 80px;
}
@media screen and (max-width: 1600px) {
  .skill__title {
    font-size: 22px;
  }
}
@media screen and (max-width: 992px) {
  .skill__title {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .skill__title {
    font-size: 18px;
  }
}
.skill__text {
  font-size: 16px;
  line-height: 24px;
  color: #8F95A5;
  padding-bottom: 25px;
}
@media screen and (max-width: 1600px) {
  .skill__text {
    font-size: 14px;
    line-height: 21px;
  }
}
@media screen and (max-width: 992px) {
  .skill__text {
    font-size: 13px;
    line-height: 19.5px;
  }
}
@media screen and (max-width: 767px) {
  .skill__text {
    font-size: 12px;
    line-height: 18px;
  }
}
.skill__learnmore {
  padding: 15px 50px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}
@media screen and (max-width: 1600px) {
  .skill__learnmore {
    font-size: 18px;
    line-height: 27px;
    padding: 13px 40px;
  }
}
@media screen and (max-width: 992px) {
  .skill__learnmore {
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (max-width: 767px) {
  .skill__learnmore {
    font-size: 14px;
    line-height: 21px;
    padding: 14px 54px;
  }
}

.about__container {
  padding-top: 282px;
  display: flex;
  justify-content: space-between;
}
.about__content {
  width: 635px;
}
.about__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  color: #2A3246;
}
.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8F95A5;
}
.about__stats {
  display: flex;
  justify-content: space-between;
}
.about__amount {
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  color: #2A3246;
}
.about__name {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8F95A5;
}

.pricing__title {
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
}
.pricing__content {
  display: flex;
  align-content: space-between;
}
.pricing__pricetag {
  display: flex;
  background: #EEEEEE;
  border-radius: 5px;
  align-items: flex-start;
  cursor: pointer;
}
.pricing__pricetag-value {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #263238;
}
.pricing__pricetag-permonth {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #546269;
}
.pricing__namecourse {
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  color: #263238;
}
.pricing__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8F95A5;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  border: 1px solid;
}

.price::not(:last-child) {
  margin-right: 100px;
}/*# sourceMappingURL=style.css.map */