.about

    margin-top: 5%
    &__container

    &__content
        display: grid
        grid-template-areas: 'a d d' 'b d d' 'c d d'

        @media screen and (max-width:$minTabletWidth)
            grid-template-areas: 'a' 'd' 'b' 'c'
            text-align: center

    &__title
        grid-area: a
        font-weight: 600
        font-size: 48px
        line-height: 80px

        @media screen and (max-width:$minDescktopWidth)
            font-size: 36px

        @media screen and (max-width:$minLaptopWidth)
            font-size: 30px
        @media screen and (max-width:$minTabletWidth)

    &__text
        grid-area: b
        font-weight: 400
        font-size: 20px
        line-height: 30px
        color: #8F95A5
        @media screen and (max-width:$minDescktopWidth)
            font-size: 16px
            line-height: 24px
        @media screen and (max-width:$minLaptopWidth)
            font-size: 14px
            line-height: 21px
    &__stats
        grid-area: c
        display: flex
        justify-content: space-between
    &__pupils

    &__amount
        text-align: center
        font-weight: 600
        font-size: 48px
        line-height: 80px
        color: #2A3246
        margin-bottom: -5px
        @media screen and (max-width:$minDescktopWidth)
            font-size: 30px
        @media screen and (max-width:$minLaptopWidth)
            font-size: 22px
            line-height: 80px

    &__name
        text-align: center
        font-weight: 400
        font-size: 20px
        line-height: 30px
        color: #8F95A5
        @media screen and (max-width:$minDescktopWidth)
            font-size: 16px
            line-height: 24px
        @media screen and (max-width:$minLaptopWidth)
            font-size: 13px
            line-height: 20px
    &__image
        grid-area: d
        margin-left: 194px
        @media screen and (max-width:$minTabletWidth)
            display: block
            margin-left: auto
            margin-right: auto
    &__dollar
        max-width: 100%
