
    
.header__navbar
    &-wrap
        display: flex
        align-items: center
        min-height: 70px
        justify-content: space-between
        padding-top: 55px
    &-menu
        display: flex
        font-size: 20px
        font-weight: 500
        font-family: 'poppins'
        color: #263238
        width: 40%
        justify-content: space-around
        align-content: start
    
        
    &-links
        position: relative
        cursor: pointer
    &-letstalk 
        padding: 17px 57px
       
     
        
        

.header__logo
    font-family: poppins
    font-size: 36px 
    &__right
        color:  grey